@page "/"

@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ITicketService _ticketService


<AuthorizeView Roles="Admin">
    <Authorized>
        <NavLink href="dashboard">Dashboard</NavLink>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Programmer">
    <Authorized>
        <NavLink href="/createTicket"><button class="btn btn-info">Create ticket</button></NavLink>
    </Authorized>
    <NotAuthorized>
        <p>To create ticket you need to be with a programmer role.</p>
    </NotAuthorized>
</AuthorizeView>

<_ListOfTickets Tickets="tickets" TicketDeletedEC="OnInitializedAsync"></_ListOfTickets>



@code {
    List<Ticket> tickets = new();

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        List<Ticket> listOfTickets = new();

        if (user.IsInRole("Maintenance"))
        {
            tickets = (List<Ticket>)await _ticketService.GetAllTickets();
            tickets.OrderBy(t => t.SendOn);
        }
        else if (user.IsInRole("Programmer"))
        {
            tickets = (List<Ticket>)await _ticketService.GetAllTicketsWithUsername(user.Identity.Name);
            tickets.OrderBy(t => t.SendOn);
        }
    }

}